
/*--------Pagina Inicio------------*/



#nav__section-btn{
    display:flex;
    justify-content:center;



}






.header__inicio-redes{
    margin-left: 90%;

}

.header__inicio-redes:hover{
    color: blueviolet;
}

.nav__body-logo2{
margin-left: 400px;


}

.nav__body-prods{
display: flex;
justify-content: space-between;
height: auto;
width: auto;
margin-bottom: 50px;
}

.nav__body-prods2{
    display: flex;
    justify-content: space-between;
    margin-block: 30px;
}

#footer__inicio{
    width: 100%;
    height: 100%;

}
.card{
margin-inline: 500px;
margin-top: 20%;
justify-content: center;

}

.card:hover{
    color: blueviolet;
}

.footer__inicio-redes{
    justify-content: right;
    

}


.footer__logo{
    margin-left: 80%;
    margin-top: -15%;

}



/*--------Pagina Productos--------------*/

#productos__header{
    padding: 0%;
    height: 100%;
    width: 50%;
}

.Productos__header-logo{

display: block;


}

.btn-group{
    display:flex;
    justify-content: center;
    
}

.header__logo2{
    margin-left: 30%;
}

.body__produtos-fotos{
    display: flex;
    justify-content: space-between;
}

.body__produtos-fotos2{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

#footer__productos{
    padding: 0%;
    width: 100%;
    height: 100%;
    margin: 10%;
    display: flex;
    

}

.Footer__productos-logo{
    margin-left: -10%;
}

.footer__productos-card{
    margin-left: 22%;
    
    
}

.footer__productos-redes{
    margin-left: 30%;
    margin-top: 8%;
    
}


/*----------Pagina Giftshop----------*/

.Giftshop__header-redes{
    margin-left: 90%;
}

.Giftshop__header-logo2{
    margin-left: 30%;
}

.Giftshop__header-titulo{
    text-decoration: black;
    font-style: oblique;
    font-family: fantasy;
    
}


.Giftshop__body-fotos{
    display: flex;
    justify-content: space-between;
    height: 300px;
    object-fit: cover;
    
}



.Giftshop__body-fotos2{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    height: 300px;
    object-fit: cover
    
}

#footer__Giftshop{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}


.footer__giftshop-redes{
    margin-top: 10%;
}

/*---------------Pagina Info-----------------*/

