
/*Pagina Inicio*/



#nav__section-btn{
    display:flex;
    justify-content:center;
    

    
}






.header__inicio-redes{
justify-content: right; 
}

.nav__body-logo2{
margin-left: 400px;


}

.nav__body-prods{
display: flex;
justify-content: space-between;
height: auto;
width: auto;
margin-bottom: 50px;
}

.nav__body-prods2{
    display: flex;
    justify-content: space-between;
    margin-block: 30px;
}

#footer__inicio{
    width: 100%;
    height: 100%;

}
.card{
margin-inline: 600px;
margin-top: 30%;



}

.card:hover{
    text-decoration: underline;
    color: steelblue;

}

.footer__inicio-redes{
    justify-content: first baseline;
    

}


.footer__logo{
    margin-left: 80%;
    margin-top: -15%;
}


/*Pagina Productos*/

#Productos__header{
    margin: 0%;
    padding: auto;
    height: auto;
    width:auto;
}

.Productos__header-logo{
    display: flex;
    justify-content: left;
    
}

.btn-group{
    justify-content: center;
    
    

}



